
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: transparent;
}

.logo {
  font-size: clamp(18px, 2vw, 25px);
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar a {

  font-size: clamp(14px, 1.5vw, 18px);
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover {
  color: #00abf0;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  color: #ededed;
  cursor: pointer;
}






@media (max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .navbar.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}